<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">

            <div class="logo">
                <a href="home"><img src="img/logo.png" alt=""></a>
            </div>

            <div class="header-right">
                <a href="cart"><img src="img/icons/bag.png" alt=""></a>
            </div>

            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/list-genres">Genres</a></li>
                    <li><a href="/list-authors">Authors</a></li>
                    <li><a href="/list-books">Books</a></li>
                    <li><a href="#">Profile</a>
                        <ul class="sub-menu">
                            <li><a href="my-account">My Account</a></li>
                            <li><a href="my-address">My Addresses</a></li>
                            <li><a href="my-orders">My Orders</a></li>
                            <li><a href="change-password">Change Password</a></li>
                            <li><a href="/logout" class="text-danger">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>